body {
    width: 100%;
    height: auto;
    margin: 0;
    user-select: none;
}

html {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: auto;
}

#img {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    border-style: solid;
    box-shadow: 0px 0px 10px -6px;
}

.profileImg-div {
    display: grid;
    place-items: center;
    position: relative;
    top: 2rem;
}

.username {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 0px 1px;
    color: rgb(0, 0, 0);
}

.follwersandfollowing-div {
    position: relative;
    top: 3rem;
    display: inline-flex;
    gap: 40px; 
}

section {
    display: grid;
    place-items: center;
}

#followers-div,
#following-div {
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 5px 10px;
    height: 45px;
    border-radius: 10px;
}

.followersText,
.followingText {
    font-size: 15px;
    font-weight: 600;
}

#followers,
#following {
    position: relative;
    bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 15px;
    font-weight: 550;

}

.profile { 
    width: 100%;
    color: black;
    padding-left: 20px;
    font-weight: 700;
    font-size: 30px;
    position: sticky;
    z-index: 1;
    padding-top: 40px;
}

#logout-div {
    position: relative;
    left: 20px;
    display: none;
    position: fixed;
}

#logout {
    background-color: whitesmoke;
    border: none;
    width: 50px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: 650;
    border-radius: 4px;
}

.bi-chevron-down {
    font-size: 16px;
}

.bi-chevron-left {
    color: black;
    font-size: 27px;
    display: grid;
    position: relative;
    top: 40px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.bi-moon {
    color: black;
    font-size: 27px;
    position: relative;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.bi-brightness-high {
    display: none;
    top: 33px;
    color: black;
    font-size: 27px;
    position: relative;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.bi-moon {
    font-size: 20px;
    top: 37px;
    transition: 3s;
}

#darkMode {
    transition: 3s;
}

.bi-chevron-compact-left:hover {
    color: black;
}

#pbackbtn {
    display: flex;
}

.line {
    padding: 0.5px;
    background-color: rgb(211, 211, 211);
    position: relative;
    top: 5rem;
}

#imgstyle {
    width: 98%;
    height: 200px;
    position: relative;
    top: 6rem;
    filter: blur(4px);
    padding-left: 10px;
    margin-bottom: 40%;
}

.returHome-div {
    text-align: center;
    position: relative;
    background-color: transparent;
    bottom: 13rem;
}

.bi-eye,
.returHome {
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: 10;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}