@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Didact+Gothic&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500&family=PT+Serif:wght@400;700&family=Quicksand:wght@300&family=Raleway:ital,wght@0,100;0,200;0,500;0,700;1,100&family=Red+Hat+Display:wght@300;400;500;600&family=Secular+One&display=swap');


body {
    width: 100%;
    height: auto;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(243, 243, 243);
}

#makeheadfixed {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow:black 0px -26px 10px 17px;
    height: 50px;
    top: 0;
}

.logo-div {
    display: inline-flex;
    padding: 6px;
    position: relative;
    top: 8px;
}

.talk {
    font-size: 20px;
    display: inline-flex;
}

.business {
    color: rgb(173, 1, 1);
}

#add,
#profilepage {
    font-size: 25px;
    color: black;
    margin: 7px;
}

#profileAndChats {
   display: inline-flex;
}

#group {
    text-align: right;
    align-content: right;
    align-items: right;
    position: relative;
    bottom: 3.6rem;
    padding: 6px;
}

#bottom-menu {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: white;
    color: black;
    box-shadow:black 0px 26px 10px 17px;
}

#list,
#home,
#videos,
#chat,
#setting, a {
    font-size: 25px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#home-fill {
    font-size: 25px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#home {
    transition: 0.5s;
    display: none;
}

#setting-fill {
    font-size: 25px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    display: none;
}

.list-div,
.home-div,
.chat-div,
.videos-div,
.setting-div {
    display: inline-flex;
    padding:6px 6%;
}



/*content*/


section {
    padding-top: 50px;
}

.all {
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.bi-check {
    color: white;
    position: relative;
    bottom: 2px;
}

.all-div {
    position: fixed;
    display: inline-flex;
    background-color: rgb(137, 226, 3);
    padding:2px 10px;
    height: 23px;
    margin: 10px;
    margin-top: 63px;
    box-shadow:rgb(74, 105, 74) 0px 0px 5px 0px;
    border-radius: 10px;
    top: 0;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    left: 17px;
    top: 30px;
    border-style: solid;
    padding: 1px;
    border-width: 2=px;
}

.userspost-div {
    padding: 10px;
    padding-bottom: 30px;
    margin:50px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px -9px;
    background-color: white;
}

.usersnameimg-div {
    display: inline-flex;
}

.username {
    font-size: 14px;
    margin-top: 5px;
    padding-left: 40px;
    font-weight: 600;
    font-weight: 700;
    position: relative;
    top: 24px;
}


.underCat {
    padding: 20px;
    font-size: 10px;
    position: relative;
    margin: 0;
    padding: 0;
    color: rgb(21, 109, 21);
    top: 2px;
}

.underCat-div {
    margin-left: 10px;
    padding:1.2px 6px;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(58, 211, 58);
    display: flex;
    height: 22px;
}

.date {
    font-size: 10px;
    position: relative;
    top: 4px;
    padding-left: 20px;
    color: rgb(150, 150, 140);
}

.bi-bookmark-check {
    color: rgb(21, 109, 21);
    font-size: 13px;
    padding-right: 1px;
}

.underCat-div-- {
    display: inline-flex;
}

.topic {
    padding-left: 6.9rem;
    position: relative;
    bottom:16px;
    width: 90%;
    line-height: 17px;
    font-weight: 700;
    
}

#date {
    text-align: center;
    color: red;
}

article {
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    padding-top: 6px;
    margin-left: 10px;
}

.article {
    line-height: 21px;
    height: calc(3 * 21px);
    overflow: hidden;
    position: relative;
}

.article::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 21px;
    width: 75%;
    background: linear-gradient(
        90deg, transparent, white
    );
}

.more {
    text-decoration: none;
    font-size: 11px;
    padding-left: 10px;
}


/*open list*/

#openList {
    position: fixed;
    height: 93%;
    width: 0;
    z-index: 1;
    overflow-x: scroll;
    background-color: rgb(247, 247, 247);
    top: 0;
    left: 0;
    transition: 0.2s;
}

#openSetting {
    position: fixed;
    height: 93%;
    width: 0;
    z-index: 1;
    overflow:scroll;
    background-color: rgb(247, 247, 247);
    top: 0;
    left: 0;
    transition: 0.2s;
}

.list-head-setting-div {
    color: black;
    padding-left: 20px;
    font-weight: 700;
    font-size: 30px;
    position: sticky;
    z-index: 1;
    top: -20px;
    background-color: rgb(247, 247, 247);
    padding-top: 40px;
    padding-bottom: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.setting-head-text,
.list-head-setting {
    font-weight: 800;
}

/*inside setting*/

#logout-div,
#darkmode-div {
    display: inline-flex;
    background-color: white;
    width: 90%;
    margin: 20px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(134, 134, 134);
    border-width: 0.1px;
    box-shadow: 0px 0px 2px;
    transition: 0.5s;
}

#darkmode-div:hover,
#logout-div:hover {
    background-color: rgb(243, 243, 243);
}

.bi-moon,
#logout,
.bi-box-arrow-left,
#darkmode {
    font-size: 18px;
    font-weight: 630;
    padding:16px 0px;
    height: 46px;
}

.bi-box-arrow-left,
.bi-moon {
    padding: 16px 20px;
}

#catigories-div {
    margin: 20px;
}

.catigories {
    background-color: white;
    padding: 30px;
}

#search-div {
    text-align: right;
    position: relative;
    bottom: 45px;
    padding-right: 20px
}













::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width: 357px) {
    .list-div,
    .chat-div,
    .videos-div,
    .setting-div {
        display: inline-flex;
        padding:0px 5%;
    }
}


@media only screen and (max-width: 300px) {
    .list-div,
    .chat-div,
    .videos-div,
    .setting-div {
        display: inline-flex;
        padding:0px 5%;
    }
    #list,
    #home,
    #videos,
    #chat,
    #setting {
        font-size: 20px;
    }
}











